* {
	margin: 0px; padding: 0px;
}
html {
	line-height: 1.6; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	color: rgb(51, 51, 51); line-height: inherit; font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif; font-size: 16px;
}
p {
	color: rgb(51, 51, 51); line-height: inherit; font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif; font-size: 16px;
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
a {
	color: rgb(75, 75, 75); text-decoration: none;
}
a:focus {
	color: rgb(59, 59, 59);
}
a:hover {
	color: rgb(59, 59, 59);
}
#zs_main {
	background: 0px 0px rgb(255, 255, 255); margin: 0px auto; padding-bottom: 5px; font-family: Microsoft YaHei,simsun,Verdana,Geneva,sans-serif; min-width: 310px; max-width: 480px;
}
.nav_title {
	height: 40px; text-align: center; color: rgb(255, 255, 255); line-height: 40px; overflow: hidden; font-size: 18px; font-weight: bold; background-color: rgb(194, 0, 0);
}
.zs_media_right {
	padding-left: 10px;
}
.zs_media_left {
	padding-right: 10px;
}
.zs_media_body {
	vertical-align: top; display: table-cell;
}
.zs_media_left {
	vertical-align: top; display: table-cell;
}
.zs_media_right {
	vertical-align: top; display: table-cell;
}
.order {
	margin: 0px auto; width: 100%; overflow: hidden; max-width: 480px;
}
#demo {
	padding: 5px 10px; font-size: 14px; background-color: rgb(153, 153, 153);
}
.order_smg {
	height: 88px; color: rgb(255, 255, 255); overflow: hidden;
}
.order_smg li {
	width: 100%; height: 22px; overflow: hidden;
}
.zs_nav {
	background: rgb(230, 0, 18); padding: 8px 0px; text-align: center; color: rgb(255, 255, 255); font-size: 1.4em; font-weight: bold; margin-bottom: 10px; box-shadow: 0px 2px 6px #000; text-shadow: 0px 2px 4px #333;
}
.zs_1 {
	position: relative;
}
.zs_btn {
	right: 6%; bottom: 8%; position: absolute;
}
.zs_2 {
	position: relative;
}
.zs_t {
	width: 100%; right: 0px; bottom: 0px; position: absolute;
}
.zs_t p {
	margin: 10px; text-align: center;
}
.zs_t1 {
	margin: 1px; color: rgb(255, 255, 255); font-size: 2.25em;
}
.zs_t2 {
	margin: 8px 0px; color: rgb(230, 0, 18); letter-spacing: 45px !important; padding-left: 10px; font-size: 3.7em;
}
.zs_t span {
	color: rgb(230, 0, 18); letter-spacing: 36px; padding-left: 16px; margin-right: -14px;
}
.zs_3 {
	margin: 10px auto; width: 96%;
}
.zs_3 p {
	line-height: 1.6; text-indent: 2em;
}
.zs_4 {
	background: 0px 0px rgb(255, 252, 210); margin: 8px auto 16px; padding: 6px 0px; border-radius: 8px; width: 86%; text-align: center;
}
.zs_4 p {
	color: rgb(230, 0, 18); line-height: 1.6em; font-size: 20px; font-weight: bold;
}
.zs_icon ul li {
	width: 42%; display: inline-block;
}
.zs_5 {
	margin: 0px auto; padding: 1px 0px 6px; border-radius: 3px; width: 90%; text-align: center;
}
.zs_5 .zs_media {
	background: 0px 0px rgb(255, 252, 210); margin: 10px 0px;
}
.zs_5 .zs_media_body {
	vertical-align: middle;
}
.zs_5 p {
	width: 100%; float: right;
}
.zs_6 {
	background: 0px 0px rgb(255, 252, 210); padding: 6px 0px 10px;
}
.zs_6 p {
	padding: 0px 10%; color: rgb(230, 0, 18); font-size: 2.06em;
}
.zs_6 p span {
	background: 0px 0px rgb(0, 113, 48); padding: 2px 6px; color: rgb(255, 255, 255); font-size: 22px;
}
.zs_7 {
	margin: 12px auto; width: 96%;
}
.zs_7 video {
	width: 100%;
}
.zs_8 {
	margin: 12px auto; padding: 0px 3%;
}
.zs_8 p {
	line-height: 1.6; text-indent: 2em;
}
.zs_8 p span {
	color: rgb(255, 0, 0); font-weight: bold;
}
.zs_9 {
	background: 0px 0px rgb(255, 252, 210); margin: 0px auto; padding: 10px 0px 5px; width: 96%;
}
.zs_9 p {
	padding: 5px 11px; line-height: 1.6;
}
.zs_9 p span {
	background: 0px 0px rgb(230, 0, 18); padding: 1px 5px; color: rgb(255, 255, 255); font-weight: bold;
}
.zs_10 {
	margin: 5px auto; width: 96%;
}
.zs_10 ul li {
	background: no-repeat 0px 3px rgba(0, 0, 0, 0); line-height: 1.6; padding-left: 24px;
}
.zs_11 {
	margin: 10px auto; width: 96%; font-size: 0.95em;
}
.zs_img1 {
	margin-left: 8px; float: right;
}
.zs_t3 h4 {
	background: 0px 0px rgb(230, 0, 18); margin: 6px 0px; padding: 3px 5px; width: 48%; color: rgb(255, 255, 255);
}
.zs_t3 p {
	line-height: 1.6; text-indent: 2em;
}
.zs_12 {
	background: 0px 0px rgb(255, 252, 210); margin: 0px auto; padding: 5px 10px 10px; width: 92%;
}
.zs_12 h4 {
	margin: 5px 0px; color: rgb(230, 0, 18);
}
.zs_12 p {
	line-height: 1.6; text-indent: 2em; margin-bottom: 5px;
}
.zs_13 {
	background: 0px 0px rgb(9, 124, 37); margin: 0px auto; padding: 5px 10px; width: 92%;
}
.zs_13 h4 {
	margin: 0px 0px 4px; text-align: center; color: rgb(255, 255, 255); font-size: 1.37em; font-weight: normal;
}
.zs_13 p {
	color: rgb(255, 255, 255); line-height: 1.6; font-size: 1em;
}
.zs_14 {
	margin: 0px auto; padding: 5px 2px; border: 4px solid rgb(235, 97, 0); border-image: none; width: 94%;
}
.zs_15 {
	margin: 0px auto; bottom: -5px; position: fixed; z-index: 99999;
}
@media all and (max-width:414px)
{
.zs_t3 img {
	width: 178px;
}
header h4 {
	font-size: 2em;
}
header p {
	font-size: 1.3em;
}
header img {
	width: 70px;
}
.zs_btn img {
	width: 170px;
}
.zs_6 p {
	font-size: 1.8em;
}
.zs_img1 img {
	width: 200px;
}
.mf_form_name {
	width: 30%; text-align: left; font-size: 1em; float: left;
}
.zs_t6 a {
	width: 54px; height: 45px;
}
.zs_img1 img {
	width: 189px;
}
.zs_t2 {
	letter-spacing: 32px !important; padding-left: 12px; font-size: 31px;
}
}
@media all and (max-width:375px)
{
header h4 {
	font-size: 1.8em;
}
header p {
	font-size: 1.2em;
}
header img {
	width: 60px;
}
.zs_t3 img {
	width: 154px;
}
.zs_t2 {
	margin: 8px 0px; letter-spacing: 30px !important; padding-left: 15px; font-size: 2em;
}
.zs_5 img {
	width: 160px;
}
.zs_5 p {
	font-size: 0.95em;
}
.zs_nav {
	font-size: 1.2em;
}
.zs_6 p {
	padding: 0px 7%;
}
.zs_img1 img {
	width: 169px;
}
.mf_form_name {
	width: 33%;
}
.zs_t2 {
	letter-spacing: 28px !important; padding-left: 10px; font-size: 28px;
}
.mf_form_3 label {
	color: rgb(255, 0, 0); font-size: 0.95em; margin-left: -8px;
}
.zs_btn img {
	width: 155px;
}
}
@media all and (max-width:360px)
{
.mf_form_name {
	font-size: 0.9em;
}
.mf_form_name1 {
	font-size: 0.9em;
}
.mf_form_name2 {
	font-size: 0.9em;
}
.zs_t p {
	margin: 7px;
}
.zs_t2 {
	line-height: 35px; font-size: 1.8em;
}
.zs_4 {
	width: 90%;
}
.zs_5 {
	width: 90%;
}
.zs_6 p {
	font-size: 1.6em;
}
.zs_img1 img {
	width: 164px;
}
.mf_form_name {
	width: 31%;
}
.zs_t6 a {
	width: 60px; height: 51px; padding-top: 8px;
}
}
@media all and (max-width:340px)
{
.zs_t p {
	margin: 7px;
}
.zs_img1 img {
	width: 154px;
}
.zs_4 p {
	color: rgb(230, 0, 18); line-height: 1.6em; font-size: 1.12em;
}
.zs_5 p {
	font-size: 0.85em;
}
.mf_form_name {
	width: 32%;
}
.zs_t2 {
	font-size: 1.5em;
}
.zs_6 p span {
	font-size: 20px;
}
.zs_6 p {
	font-size: 1.5em;
}
.zs_btn img {
	width: 150px;
}
}
@media all and (max-width:320px)
{
header img {
	width: 50px;
}
header h4 {
	font-size: 1.5em;
}
header p {
	font-size: 1em;
}
.zs_t3 img {
	width: 138px;
}
.zs_t2 {
	letter-spacing: 24px !important;
}
.zs_icon img {
	width: 110px;
}
.zs_5 img {
	width: 140px;
}
.zs_5 p {
	font-size: 0.85em;
}
.zs_6 p {
	font-size: 1.4em;
}
.zs_6 p span {
	font-size: 20px;
}
.zs_img1 img {
	width: 140px;
}
.mf_form_name {
	width: 34%;
}
.mf_form_3 label {
	font-size: 0.87em;
}
.zs_nav {
	font-size: 1.1em;
}
.mf_form_3 label {
	font-size: 0.9em;
}
.zs_btn img {
	width: 140px;
}
}
@media all and (max-width:310px)
{
.zs_t3 img {
	width: 128px;
}
.zs_t6 {
	font-size: 1.5em;
}
.zs_nav {
	font-size: 1.1em;
}
.zs_t2 {
	font-size: 1.4em;
}
.zs_6 p span {
	font-size: 18px;
}
.zs_5 img {
	width: 130px;
}
}
.item_sec {
	padding: 10px; line-height: 30px;
}
.item_wrap {
	background: rgb(250, 250, 250); padding: 15px; border-radius: 5px; overflow: hidden; box-shadow: 0px 1px 2px 2px #e4e4e4;
}
.row {
	padding: 5px 10px 5px 75px; position: relative;
}
.row > label {
	left: 0px; position: absolute;
}
.row > b {
	left: 0px; position: absolute;
}
.row a {
	color: navy;
}
.add {
	background: rgb(245, 245, 245);
}
.select {
	border: 1px solid rgb(217, 217, 217); border-image: none; width: 100%; height: 30px; line-height: 30px; text-indent: 6px; font-size: 14px; vertical-align: middle;
}
.input {
	border: 1px solid rgb(217, 217, 217); border-image: none; width: 100%; height: 30px; line-height: 30px; text-indent: 6px; font-size: 14px; vertical-align: middle;
}
.select {
	width: 70%; margin-right: 5px;
}
.orange_bg {
	background-color: rgb(255, 80, 0) !important;
}
.btrow {
	padding: 5px 0px;
}
.btrow .note {
	padding: 12px 10px 0px; text-align: center; color: rgb(102, 102, 102); line-height: 25px; font-size: 14px; margin-bottom: 10px;
}
.ocp {
	padding: 0px 10px; text-align: center; margin-bottom: 65px;
}
#xzvideo {
	padding: 5px; height: 230px;
}
#xzplayer {
	margin: auto; padding: 25px 40px; left: 0px; top: 0px; width: 1px; height: 1px; right: 0px; bottom: 0px; position: absolute; cursor: pointer;
}
.layui-m-layer {
	position: relative; z-index: 19891014;
}
.layui-m-layer * {
	box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
}
.layui-m-layermain {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed;
}
.layui-m-layershade {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed;
}
.layui-m-layershade {
	pointer-events: auto; background-color: rgba(0, 0, 0, 0.7);
}
.layui-m-layermain {
	font-family: Helvetica,arial,sans-serif; display: table; pointer-events: none;
}
.layui-m-layermain .layui-m-layersection {
	text-align: center; vertical-align: middle; display: table-cell;
}
.layui-m-layerchild {
	border-radius: 5px; text-align: left; font-size: 16px; display: inline-block; position: relative; pointer-events: auto; box-shadow: 0px 0px 8px rgba(0,0,0,0.1); animation-duration: 0.2s; animation-fill-mode: both; background-color: rgb(255, 255, 255); -webkit-overflow-scrolling: touch; -webkit-animation-fill-mode: both; -webkit-animation-duration: .2s;
}
.layui-m-anim-scale {
	animation-name: layui-m-anim-scale; -webkit-animation-name: layui-m-anim-scale;
}
.layui-m-anim-up {
	animation-name: layui-m-anim-up; -webkit-animation-name: layui-m-anim-up;
}
.layui-m-layer0 .layui-m-layerchild {
	width: 70%; max-width: 640px;
}
.layui-m-layer1 .layui-m-layerchild {
	border-radius: 0px; border: currentColor; border-image: none;
}
.layui-m-layer2 .layui-m-layerchild {
	background: 0px 0px; border: currentColor; border-image: none; width: auto; color: rgb(255, 255, 255); min-width: 40px; max-width: 260px; box-shadow: none;
}
.layui-m-layerchild h3 {
	padding: 0px 10px; border-radius: 5px 5px 0px 0px; height: 60px; text-align: center; line-height: 60px; font-size: 16px; font-weight: 400;
}
.layui-m-layerbtn span {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.layui-m-layerchild h3 {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.layui-m-layercont {
	padding: 40px 30px; text-align: center; line-height: 22px;
}
.layui-m-layer1 .layui-m-layercont {
	padding: 0px; text-align: left;
}
.layui-m-layer2 .layui-m-layercont {
	padding: 0px; text-align: center; line-height: 0;
}
.layui-m-layer2 .layui-m-layercont i {
	border-radius: 100%; animation:layui-m-anim-loading 1.4s ease-in-out infinite both; width: 25px; height: 25px; margin-left: 8px; display: inline-block; background-color: rgb(255, 255, 255); -webkit-animation-fill-mode: both; -webkit-animation: layui-m-anim-loading 1.4s infinite ease-in-out;
}
.layui-m-layerbtn {
	border-radius: 0px 0px 5px 5px; text-align: center; position: relative;
}
.layui-m-layerbtn span {
	border-radius: 0px 0px 5px 5px; text-align: center; position: relative;
}
.layui-m-layer2 .layui-m-layercont p {
	margin-top: 20px;
}
.layui-m-layer2 .layui-m-layercont i:first-child {
	margin-left: 0px; animation-delay: -0.32s; -webkit-animation-delay: -.32s;
}
.layui-m-layer2 .layui-m-layercont i.layui-m-layerload {
	animation-delay: -0.16s; -webkit-animation-delay: -.16s;
}
.layui-m-layer2 .layui-m-layercont > div {
	line-height: 22px; padding-top: 7px; font-size: 14px; margin-bottom: 20px;
}
.layui-m-layerbtn {
	width: 100%; height: 50px; line-height: 50px; font-size: 0px; border-top-color: rgb(208, 208, 208); border-top-width: 1px; border-top-style: solid; background-color: rgb(242, 242, 242);
}
.layui-m-layerbtn span {
	font-size: 16px; display: block; cursor: pointer; -moz-box-flex: 1; box-flex: 1; -webkit-box-flex: 1;
}
.layui-m-layerbtn span[yes] {
	color: rgb(64, 175, 254);
}
.layui-m-layerbtn span[no] {
	border-radius: 0px 0px 0px 5px; border-right-color: rgb(208, 208, 208); border-right-width: 1px; border-right-style: solid;
}
.layui-m-layerbtn span:active {
	background-color: rgb(246, 246, 246);
}
.layui-m-layerend {
	background: 0px 0px; border: 0px currentColor; border-image: none; top: 10px; width: 30px; height: 30px; right: 7px; font-size: 30px; font-weight: 400; position: absolute; cursor: pointer; -webkit-appearance: none;
}
.layui-m-layerend::after {
	border-radius: 3px; left: 5px; top: 15px; width: 18px; height: 1px; position: absolute; content: ""; transform: rotate(45deg); background-color: rgb(153, 153, 153); -webkit-transform: rotate(45deg);
}
.layui-m-layerend::before {
	border-radius: 3px; left: 5px; top: 15px; width: 18px; height: 1px; position: absolute; content: ""; transform: rotate(45deg); background-color: rgb(153, 153, 153); -webkit-transform: rotate(45deg);
}
.layui-m-layerend::after {
	transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
}
body .layui-m-layer .layui-m-layer-footer {
	background: 0px 0px; margin: 0px auto; left: 0px; width: 95%; right: 0px; bottom: 10px; position: fixed; max-width: 100%;
}
.layui-m-layer-footer .layui-m-layercont {
	padding: 20px; border-radius: 5px 5px 0px 0px; background-color: rgba(255, 255, 255, 0.8);
}
.layui-m-layer-footer .layui-m-layerbtn {
	background: 0px 0px; height: auto; border-top-color: currentColor; border-top-width: medium; border-top-style: none; display: block;
}
.layui-m-layer-footer .layui-m-layerbtn span {
	background-color: rgba(255, 255, 255, 0.8);
}
.layui-m-layer-footer .layui-m-layerbtn span[no] {
	border-radius: 0px 0px 5px 5px; color: rgb(253, 72, 44); border-top-color: rgb(194, 194, 194); border-top-width: 1px; border-top-style: solid;
}
.layui-m-layer-footer .layui-m-layerbtn span[yes] {
	border-radius: 5px; margin-top: 10px;
}
body .layui-m-layer .layui-m-layer-msg {
	margin: 0px auto; width: auto; bottom: -150px; color: rgb(255, 255, 255); max-width: 90%; background-color: rgba(0, 0, 0, 0.7);
}
.layui-m-layer-msg .layui-m-layercont {
	padding: 10px 20px;
}
