.mod-column .devide-con {
	width: 100%; display: table;
}
.mod-column .devide-con > .cell {
	letter-spacing: normal; font-size: 14px; display: table-cell;
}
.mod-2column .cell {
	width: 50%; vertical-align: top;
}
.mod-3column .cell {
	width: 33%; vertical-align: top;
}
.mod-divider {
	padding: 0px; margin-top: 2px; margin-bottom: 2px;
}
.mod-divider hr {
	margin: 0px auto; border: currentColor; border-image: none; width: 100%; height: 1px; background-color: rgb(204, 204, 204);
}
.mod-space {
	
}
.mod-space .space {
	background: none; width: 100%;
}
.mod-title h2 {
	line-height: 24px; font-size: 18px; font-weight: normal; vertical-align: middle;
}
.mod-title {
	padding: 13px 0px; text-align: left; position: relative;
}
.mod-title.t0 {
	padding: 12px 0px 12px 19px; border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.mod-title.t1 {
	margin: 14px 0px; padding: 0px; overflow: hidden;
}
.mod-title.t1 h2 {
	padding: 0px 13px; border-left-color: currentColor; border-left-width: 6px; border-left-style: solid; display: inline-block; position: relative;
}
.mod-title.t2 {
	padding: 11px 0px 12px 19px; border-top-color: currentColor; border-top-width: 3px; border-top-style: solid;
}
.mod-title.t3 {
	overflow: hidden; padding-left: 19px; margin-right: 4px; position: relative;
}
.mod-title.t3::before {
	left: 0px; top: 50%; width: 19px; text-align: center; line-height: 1; font-size: 18px; display: inline-block; position: absolute; content: "¡ñ"; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.mod-title.t3 h2 {
	padding-right: 13px; display: inline-block; position: relative;
}
.mod-title.t4 {
	padding: 0px; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
.mod-title.t4 h2 {
	padding: 13px 19px 9px; border-bottom-color: currentColor; border-bottom-width: 3px; border-bottom-style: solid; display: inline-block;
}
.mod-title .font-ico {
	display: none;
}
.mod-link h2 {
	font-size: 14px; font-weight: normal;
}
.mod-link {
	margin: 14px 14px 12px; line-height: 1.4; font-size: 14px; font-weight: normal; position: relative;
}
.mod-link a {
	width: 100%; display: block;
}
.mod-link.t1::before {
	left: 0px; position: absolute; content: "¡ñ";
}
.mod-link.t1 h2 {
	margin-left: 10px;
}
.mod-link.t2 h2 {
	margin-left: 10px;
}
.mod-link.t2::before {
	background: rgb(99, 131, 151); left: 0px; width: 5px; height: 100%; position: absolute; content: " ";
}
.mod-link.t3::after {
	top: 0px; right: 0px; position: absolute; content: ">";
}
.mod-button {
	margin: 10px; text-align: center;
}
.mod-button a {
	overflow: hidden; vertical-align: middle; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.btn-highlight {
	box-sizing: border-box;
}
.btn-flat {
	box-sizing: border-box;
}
.btn-gradient {
	box-sizing: border-box;
}
.btn-highlight {
	width: 112px; height: 40px; text-align: center; line-height: 41px; font-size: 16px; display: inline-block;
}
.btn-flat {
	width: 112px; height: 40px; text-align: center; line-height: 41px; font-size: 16px; display: inline-block;
}
.btn-gradient {
	width: 112px; height: 40px; text-align: center; line-height: 41px; font-size: 16px; display: inline-block;
}
.configurator .btn-highlight {
	width: 100%;
}
.configurator .btn-flat {
	width: 100%;
}
.configurator .btn-gradient {
	width: 100%;
}
.btn-highlight {
	border-radius: 4px; border: 1px solid currentColor; border-image: none;
}
.btn-flat {
	border-radius: 4px; border: 1px solid currentColor; border-image: none;
}
.btn-gradient {
	border-radius: 4px; border: 1px solid currentColor; border-image: none;
}
.btn-gradient {
	border-radius: 600px;
}
.btn-highlight-theme {
	border: currentColor; border-image: none;
}
.btn-flat-theme {
	border: currentColor; border-image: none;
}
.btn-gradient-theme {
	border: currentColor; border-image: none;
}
.btn-highlight:hover {
	text-decoration: none;
}
.btn-highlight-theme:hover {
	text-decoration: none;
}
.btn-flat:hover {
	text-decoration: none;
}
.btn-flat-theme:hover {
	text-decoration: none;
}
.btn-gradient:hover {
	text-decoration: none;
}
.btn-gradient-theme:hover {
	text-decoration: none;
}
.mod-button .font-ico {
	font-size: 25px; margin-right: 8px; vertical-align: -4px;
}
.mod-text {
	margin: 14px; line-height: 1.6; font-size: 16px; -ms-word-break: break-all; min-height: 1em;
}
.mod-text i {
	font-style: italic;
}
.mod-text a {
	color: rgb(26, 143, 218);
}
.mod-text > p {
	margin: 0px 0px 16px; text-indent: 2em;
}
.mod-text > p:last-child {
	margin-bottom: 0px;
}
.mod-text u {
	text-decoration: underline !important;
}
.mod-text i {
	font-style: italic !important;
}
.mod-text b {
	font-weight: bold !important;
}
.mod-para {
	margin: 14px !important; line-height: 1.6; text-indent: 2em;
}
.mod-para > p {
	margin-bottom: 16px;
}
.mod-para > p:last-child {
	margin-bottom: 0px;
}
.mod-picgroup {
	text-align: center; padding-bottom: 8px;
}
.mod-picgroup {
	font-size: 0px; margin-bottom: 6px;
}
.mod-picgroup .pic-gp1 li {
	padding-top: 1px;
}
.mod-picgroup .pic-gp2 li {
	padding: 2% 1% 0px; width: 47%; vertical-align: top; display: inline-block;
}
.mod-picgroup .pic-gp3 li {
	padding: 2%; width: 28%; vertical-align: top; display: inline-block;
}
.module-drag .mod-picgroup .pic-gp3 li {
	padding: 2%; width: 28%; vertical-align: top; display: inline-block;
}
.mod-picgroup .pic-gp1 li p {
	height: 30px; text-align: left; color: white; line-height: 30px; text-indent: 10px; overflow: hidden; font-size: 14px; margin-top: -30px; -ms-text-overflow: ellipsis; opacity: 0.9; background-color: rgba(0, 0, 0, 0.3);
}
.mod-picgroup .pic-gp2 li p {
	height: 24px; text-align: left; color: white; line-height: 24px; text-indent: 10px; overflow: hidden; font-size: 12px; margin-top: -24px; -ms-text-overflow: ellipsis; opacity: 0.9; background-color: rgba(0, 0, 0, 0.3);
}
.mod-picgroup .pic-gp3 li p {
	height: 24px; text-align: left; color: white; line-height: 24px; text-indent: 10px; overflow: hidden; font-size: 12px; margin-top: -24px; -ms-text-overflow: ellipsis; opacity: 0.9; background-color: rgba(0, 0, 0, 0.3);
}
.mod-picgroup li img {
	width: 100%;
}
.mod-picone {
	text-align: center; margin-bottom: 0px;
}
.mod-picone a {
	display: block;
}
.site-logo .mod-picone img {
	width: auto; height: 50px;
}
.mod-video {
	padding: 0px; text-align: center; overflow: hidden; position: relative;
}
.mod-video iframe.video {
	width: 100%; display: block;
}
.mod-video .video-play-icon {
	margin: 0px; padding: 0px; display: none; position: relative; z-index: 0; min-height: 80px; background-color: black;
}
.mod-video .video-play-icon.edit-mod {
	display: block;
}
.nav-on .mod-video .video-play-icon {
	display: block;
}
.mod-video .video-play-icon .pic {
	top: 50%; width: 100%; display: block; position: absolute; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.mod-video .video-play-icon.edit-mod .pic {
	top: 0px; position: relative; transform: translateY(0px); -webkit-transform: translateY(0);
}
.mod-video .video-play-icon .play-icon {
	top: 50%; width: 100%; text-align: center; display: block; position: absolute; z-index: 1; transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.mod-video .video-play-icon .play-icon img {
	width: 70px; height: 70px; display: inline-block;
}
.mod-qrcode {
	padding: 14px; text-align: center;
}
.mod-share {
	text-align: center; font-size: 0px; margin-top: 10px; margin-bottom: 10px;
}
.mod-share .hd {
	background: url("../images/share.png") no-repeat 0% 0% / 320px 39px; display: inline-block;
}
.mod-share a {
	background: url("../images/share.png") no-repeat 0% 0% / 320px 39px; display: inline-block;
}
.mod-share .hd {
	background-position: -16px 0px; margin: 2px 2px 0px 0px; width: 53px; height: 32px; line-height: 200px; overflow: hidden; vertical-align: top;
}
.mod-share a {
	width: 39px; height: 39px; margin-left: 4px; vertical-align: top;
}
.mod-share .wechat {
	background-position: -263px 0px;
}
.mod-share .qzone {
	background-position: -120px 0px;
}
.mod-share .sina {
	background-position: -73px 0px;
}
.mod-share .renren {
	background-position: -167px 0px;
}
.mod-share .sohu {
	background-position: -175px 0px; display: none;
}
.mod-share .weixin {
	background-position: -263px 0px;
}
.mod-share .douban {
	background-position: -215px 0px;
}
.wechat-pop {
	width: 650px; text-align: left;
}
.wechat-pop h1 {
	font-size: 25px; margin-bottom: 10px;
}
.wechat-pop p {
	font-size: 20px;
}
.wechat-pop .step-1 {
	height: 342px;
}
.wechat-pop img.wechat-share-qr-code {
	margin: 25px auto 15px 65px;
}
.wechat-pop img.tip {
	width: 300px; margin-right: 20px; float: left;
}
.mod-desk {
	
}
.mod-desk .save-h {
	background: linear-gradient(rgb(248, 248, 248), rgb(235, 235, 235)); margin: 0px 0.5rem; border-radius: 5px; border: 1px solid rgb(203, 203, 203); border-image: none; height: 44px; text-align: center; color: rgb(102, 102, 102); line-height: 44px; font-size: 16px; cursor: pointer;
}
.mod-desk .save-h .font-ico {
	font-size: 26px; margin-right: 8px; vertical-align: -3px;
}
.mod-html {
	padding: 0px;
}
.mod-themenav1 {
	height: 45px; line-height: 45px; margin-bottom: 0px !important; border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: relative; z-index: 100;
}
.mod-themenav1 ul {
	width: 100%; white-space: nowrap; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; -moz-box-orient: horizontal; -moz-box-pack: center; -moz-box-align: center; box-orient: horizontal; box-pack: center; box-align: center;
}
.mod-themenav1 li {
	width: 20%; text-align: center; font-size: 14px; vertical-align: top; box-sizing: border-box; -moz-box-sizing: border-box; -moz-box-flex: 1; box-flex: 1; -webkit-box-flex: 1; -o-box-flex: 1;
}
.mod-themenav1 a {
	width: 100%; line-height: 1; overflow: hidden; text-decoration: none; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid; display: inline-block; -ms-text-overflow: ellipsis; box-sizing: border-box;
}
.mod-themenav1 li:first-child a {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.mod-themenav1 .more {
	display: none;
}
.mod-themenav1 .dropbox {
	display: none;
}
.mod-themenav1 .more {
	text-align: center; display: block;
}
.mod-themenav1 .more a {
	padding: 0px 8px;
}
.mod-themenav1 .more i {
	margin: 0px 2px; border-radius: 4px; width: 4px; height: 4px; vertical-align: 3px; display: inline-block;
}
.mod-themenav1 .dropbox {
	border-radius: 5px; top: 60px; text-align: center; right: 6px; letter-spacing: normal; font-size: 16px; position: absolute; z-index: 100; max-width: 50%; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}
.mod-themenav1 .dropbox ul {
	display: block;
}
.mod-themenav1 .dropbox li {
	margin: 0px 0.4em; padding: 0px 8px; width: auto; line-height: 2.8em; border-top-color: currentColor; border-top-width: 1px; border-top-style: solid; white-space: nowrap;
}
.mod-themenav1 .dropbox li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.mod-themenav1 .dropbox a {
	border: currentColor; border-image: none;
}
.mod-themenav1 .ico-arrow {
	top: -18px; width: 18px; height: 18px; right: 15px; position: absolute;
}
.mod-themenav1 .ico-arrow-bd {
	border-width: 9px; border-style: solid; left: 0px; top: 0px; position: absolute;
}
.mod-themenav1 .ico-arrow-bg {
	border-width: 8px; border-style: solid; left: 1px; top: 0px; display: none; position: absolute;
}
.mod-themenav3 {
	margin-bottom: 0px !important;
}
.mod-themenav3 li {
	text-align: left; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
.mod-themenav3 li:first-child {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.mod-themenav3 a {
	width: 100%; height: 48px; color: rgb(220, 220, 220); line-height: 48px; text-indent: 14px; overflow: hidden; display: block; white-space: nowrap; -ms-word-break: break-all; -ms-text-overflow: ellipsis; box-sizing: border-box;
}
.mod-themenav3 .font-ico {
	margin: 18px 10px 0px 0px; color: rgb(190, 190, 190); font-size: 18px; float: right;
}
.mod-themenav4 {
	padding: 0px 5px; top: 0px; right: 0px; margin-bottom: 0px !important; position: absolute; z-index: 11;
}
.mod-themenav4 .font-ico {
	background: url("../images/icon-menu.png") no-repeat center / 25px 25px; margin: 0px; width: 25px; height: 50px; text-align: center; color: rgb(255, 255, 255); line-height: 50px; font-size: 26px; vertical-align: top; display: inline-block;
}
.mod-themenav4 .dropbox {
	border-radius: 5px; top: 50px; text-align: center; right: 4px; letter-spacing: normal; font-size: 16px; display: none; position: absolute; z-index: 11; max-width: 160px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}
.mod-themenav4 .dropbox li {
	margin: 0px 0.4em; line-height: 2.8em; overflow: hidden; border-top-color: currentColor; border-top-width: 1px; border-top-style: solid; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.mod-themenav4 .dropbox li:first-child {
	border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.mod-themenav4 .dropbox li a {
	padding: 0px 1em;
}
.mod-themenav2 .module {
	position: relative;
}
.mod-themenav2 .dropbox a {
	border: currentColor; border-image: none;
}
.mod-themenav4 .ico-arrow {
	padding: 0px; top: -18px; width: 18px; height: 18px; right: 6px; position: absolute;
}
.mod-themenav4 .ico-arrow-bd {
	border-width: 9px; border-style: solid; left: 0px; top: 0px; position: absolute;
}
.mod-themenav4 .ico-arrow-bg {
	border-width: 8px; border-style: solid; left: 1px; top: 0px; display: none; position: absolute;
}
#page-content .mod-themenav-more .dropbox {
	display: block;
}
body .mod-themenav-more .dropbox {
	display: block;
}
.mod-themenav-more .dropbox a {
	min-width: 4em;
}
.kz-footer {
	padding: 0px; text-align: center; color: rgb(144, 144, 144); line-height: 2em; font-family: arial, "Î¢ÈíÑÅºÚ"; font-size: 12px;
}
footer {
	padding: 0px; text-align: center; color: rgb(144, 144, 144); line-height: 2em; font-family: arial, "Î¢ÈíÑÅºÚ"; font-size: 12px;
}
.kz-footer .mod-text {
	margin: 0px; font-size: 12px; display: none;
}
footer .mod-text {
	margin: 0px; font-size: 12px; display: none;
}
.kz-footer .ad_tap_class {
	display: block;
}
.kz-footer p {
	margin: auto; width: 18em; color: rgb(144, 144, 144); line-height: 1.5em; text-indent: 0px; font-size: 12px; white-space: normal; -ms-word-wrap: break-word;
}
footer p {
	margin: auto; width: 18em; color: rgb(144, 144, 144); line-height: 1.5em; text-indent: 0px; font-size: 12px; white-space: normal; -ms-word-wrap: break-word;
}
.article-hd {
	padding: 14px 14px 12px; text-align: center; border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: solid;
}
.m-header {
	left: 0px; top: 0px; width: 100%; position: absolute;
}
.phone-header {
	height: 50px; text-align: left; line-height: 50px; overflow: hidden; position: relative;
}
.phone-header > span {
	padding-left: 1em; font-size: 18px; vertical-align: top; display: inline-block;
}
.phone-header .cell {
	width: auto; text-align: left; float: left; display: block; min-height: 50px;
}
.phone-header .cell div[class^=mod-] {
	margin: 0px;
}
.phone-header .site-title {
	margin-left: 10px;
}
.phone-header .mod-column :nth-child(2).cell {
	margin-left: 10px;
}
.phone-header img {
	vertical-align: top;
}
.phone-header .site-title .mod-text {
	margin: 0px !important; padding: 0px; line-height: 50px; text-indent: 0px; overflow: hidden; font-size: 20px; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 202px;
}
.phone-header .mod-column .mod-text {
	margin: 0px !important; padding: 0px; line-height: 50px; text-indent: 0px; overflow: hidden; font-size: 20px; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 202px;
}
.site-title .mod-text > p {
	text-indent: 0px;
}
.phone-header .mod-picone {
	padding: 0px;
}
.phone-header .home {
	float: right;
}
.phone-header .home img {
	margin: 12px 10px 12px 0px; width: 25px; height: 25px;
}
.phone-header .login {
	float: right;
}
.phone-header .login img {
	margin: 12px 6px 12px 0px; width: 25px; height: 25px;
}
.header-theme2 {
	text-align: center;
}
.header-theme2 .cell {
	width: auto; vertical-align: top; float: none; display: inline-block;
}
.header-theme2 .home {
	top: 0px; right: 0px; position: absolute;
}
.header-theme1 .home {
	top: 0px; right: 0px; position: absolute;
}
.header-theme2 .login {
	top: 0px; right: 33px; position: absolute;
}
.header-theme1 .login {
	top: 0px; right: 33px; position: absolute;
}
.scroll-wrap {
	left: 0px; top: 50px; width: 100%; bottom: 0px; overflow: hidden; position: absolute;
}
.scroll {
	width: 100%; float: left;
}
.scroll-ft {
	left: 0px; width: 100%; bottom: 0px; position: absolute;
}
.article-hd .mod-title {
	background: none; padding: 0px; text-align: left; line-height: 1.4; -ms-word-break: break-all;
}
.article-hd .mod-title.t0 {
	border: currentColor; border-image: none;
}
.article-hd .mod-title h2 {
	font-size: 22px;
}
.article-hd .mod-text {
	margin: 0.5em 0px 0px; padding: 0px; text-align: left; color: rgb(153, 153, 153); text-indent: 0px; font-size: 11px;
}
.article-bd .mod-share {
	padding-bottom: 14px;
}
.article-content {
	-ms-word-break: break-all; -ms-word-wrap: break-word;
}
.article-content .mod-picone {
	margin-bottom: 10px;
}
.article-content .nocontent {
	width: 100%; text-align: center; color: rgb(102, 102, 102); line-height: 80px; font-size: 18px; background-color: rgb(238, 238, 238);
}
.mod-button-load {
	background: linear-gradient(rgb(249, 249, 249), rgb(240, 240, 240)); margin: 0px 0.5rem 1rem; border-radius: 5px; border: 1px solid rgb(207, 207, 207); border-image: none; line-height: 40px;
}
.mod-button-load a {
	display: block;
}
.picview {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; background-color: rgba(0, 0, 0, 0.7);
}
.picview {
	left: 0px; top: 0px; width: 100%; height: 100%; position: fixed; -webkit-box-orient: horizontal; -webkit-box-pack: center; -moz-box-orient: horizontal; -moz-box-pack: center; -moz-box-align: center; box-orient: horizontal; box-pack: center; box-align: center;
}
.picview .text {
	left: 0px; width: 100%; bottom: 0px; position: absolute; background-color: rgba(0, 0, 0, 0.7);
}
.picview .text p {
	padding: 0.6em; color: rgb(204, 204, 204); line-height: 1.8em; font-size: 0.87em;
}
.picview .back {
	left: 0px; top: 0px; width: 100%; color: rgb(204, 204, 204); line-height: 3em; text-indent: 1em; font-size: 0.87em; position: absolute; background-color: rgba(0, 0, 0, 0.7);
}
.picview .prev {
	top: 50%; width: 40px; height: 80px; text-align: center; color: rgb(238, 238, 238); line-height: 80px; font-size: 30px; font-weight: 100; margin-top: -40px; position: absolute; cursor: pointer; background-color: rgba(0, 0, 0, 0.4);
}
.picview .next {
	top: 50%; width: 40px; height: 80px; text-align: center; color: rgb(238, 238, 238); line-height: 80px; font-size: 30px; font-weight: 100; margin-top: -40px; position: absolute; cursor: pointer; background-color: rgba(0, 0, 0, 0.4);
}
.picview .prev .font-ico {
	display: inline-block; position: relative; z-index: 100;
}
.picview .next .font-ico {
	display: inline-block; position: relative; z-index: 100;
}
.picview .prev {
	left: 0px; transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.picview .next {
	right: 0px;
}
.html-placeholder {
	background: url("../images/html-placeholder.png") no-repeat 0% 0% / contain; margin: auto; width: 40px; height: 54px; display: block;
}
.js-placeholder {
	background: url("../images/js-placeholder.png") no-repeat 0% 0% / contain; margin: auto; width: 40px; height: 54px; display: block;
}
.weibo-placeholder {
	background: url("../images/weibo-placeholder.png") no-repeat 0% 0% / contain; margin: auto; width: 320px; height: 58px; display: block;
}
.quicklink-placeholder {
	background: url("../images/quicklink-placeholder.png") no-repeat center; margin: auto; width: 66px; height: 66px; display: block;
}
.placeholder-frame {
	padding: 3px; border-radius: 4px; border: 1px solid rgb(219, 219, 219); border-image: none; overflow: hidden; min-height: 60px;
}
.phone_middle > .mod-themenav2 {
	width: 320px; margin-left: 21px;
}
.st-keybordshow .mod-themenav2 {
	display: none;
}
.mod-focus {
	
}
.mod-focus .focus-w {
	position: relative;
}
.mod-focus .focus-w li {
	text-align: center; position: relative;
}
.mod-focus .focus-w li p {
	left: 0px; width: 100%; height: 2.5em; text-align: left; bottom: 0px; color: rgb(255, 255, 255); line-height: 2.5em; text-indent: 1em; overflow: hidden; font-size: 0.87em; white-space: nowrap; position: absolute; -ms-text-overflow: ellipsis; background-color: rgba(0, 0, 0, 0.6);
}
.mod-focus .focus-w a:hover {
	color: rgb(255, 255, 255);
}
.mod-focus .focus-ctr {
	text-align: center; right: 7px; bottom: 11px; line-height: 1; overflow: hidden; position: absolute; z-index: 1;
}
.mod-focus .focus-ctr span {
	margin: 0px 2px; border-radius: 4px; width: 8px; height: 8px; display: inline-block;
}
.mod-focus .swipe {
	overflow: hidden; position: relative;
}
.mod-focus .swipe-wrap {
	width: 100%; overflow: hidden; padding-bottom: 75%; font-size: 0px; position: relative;
}
.mod-focus .swipe-wrap > div {
	width: 100%; height: 100%; text-align: center; line-height: 200px; display: none; position: absolute;
}
.mod-focus .swipe-wrap > div img {
	vertical-align: top;
}
.mod-focus .swipe-wrap > div.swipe-item {
	display: -ms-flexbox; justify-content: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; -moz-box-orient: horizontal; -moz-box-pack: center; -moz-box-align: center; box-orient: horizontal; box-pack: center; box-align: center;
}
.mod-focus .swipe-wrap > div:nth-child(1) {
	line-height: 200px; display: block; visibility: visible;
}
.mod-focus .swipe-wrap a {
	display: block;
}
.mod-focus .swipe-wrap p {
	padding: 0px 40% 0px 14px; width: 100%; height: 35px; text-align: left; bottom: 0px; color: rgb(255, 255, 255); line-height: 35px; overflow: hidden; font-size: 13px; white-space: nowrap; position: absolute; -ms-text-overflow: ellipsis; box-sizing: border-box; opacity: 0.9; background-color: rgba(0, 0, 0, 0.3);
}
.section-cbox-wap .cbox-post-wap .post-action-wap .action-issue-wap .issue-btn-wap .btn-mutual-wap .mutual-btn-wap {
	background-image: none;
}
.mod-traffic_exchange {
	background: rgb(252, 242, 216); border-top-color: rgb(108, 47, 0); border-top-width: 1px; border-top-style: solid;
}
.traffic-exchange {
	background: rgb(252, 242, 216); border-top-color: rgb(108, 47, 0); border-top-width: 1px; border-top-style: solid;
}
.mod-traffic_exchange .text {
	background: rgb(252, 242, 216); height: 40px; text-align: left; line-height: 40px; overflow: hidden; font-size: 16px; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 300px;
}
.traffic-exchange .text {
	background: rgb(252, 242, 216); height: 40px; text-align: left; line-height: 40px; overflow: hidden; font-size: 16px; white-space: nowrap; -ms-text-overflow: ellipsis; max-width: 300px;
}
.mod-traffic_exchange a {
	overflow: hidden; white-space: nowrap; max-width: 200px;
}
.traffic-exchange a {
	overflow: hidden; white-space: nowrap; max-width: 200px;
}
.mod-traffic_exchange {
	background: url("../images/array.png") no-repeat 98% rgb(252, 242, 216); -webkit-background-size: 5px auto;
}
.traffic-exchange {
	background: url("../images/array.png") no-repeat 98% rgb(252, 242, 216); -webkit-background-size: 5px auto;
}
.crow-form-placeholder {
	background: url("../images/form-placeholder.png") no-repeat; margin: auto; width: 153px; height: 100px; display: block;
}
.crow-form-vcode {
	padding: 10px 20px; margin-top: 5px; margin-bottom: 5px; display: none; position: relative;
}
.crow-form-vcode input {
	border-radius: 4px; border: 1px solid rgb(166, 166, 166); border-image: none; width: 80px; height: 40px; padding-left: 8px; margin-right: 20px; box-sizing: border-box;
}
.crow-form-vcode img {
	width: 80px; height: 38px; position: absolute;
}
.crow-form-box {
	padding: 5px 20px;
}
.crow-form-box input {
	border-radius: 4px; border: 1px solid rgb(166, 166, 166); border-image: none; width: 100%; height: 40px; padding-right: 8px; padding-left: 8px; font-size: 16px; display: block; box-sizing: border-box;
}
.crow-form-box p span {
	color: red;
}
.crow-form-box p {
	color: grey; margin-bottom: 10px; -ms-word-break: break-all;
}
.crow-form-box textarea {
	border-radius: 4px; border: 1px solid rgb(166, 166, 166); border-image: none; width: 100%; height: 150px; padding-right: 8px; padding-left: 8px; font-size: 16px; max-width: 100%; box-sizing: border-box;
}
.crow-config-form input {
	height: 26px;
}
#crow-config-form-title {
	width: 308px; padding-left: 8px;
}
#crow-config-form-t-wrap {
	line-height: 30px;
}
.crow-config-form-label1 {
	width: 150px; margin-right: 25px;
}
.crow-config-form-label2 {
	width: 40px;
}
.crow-config-form-input1 {
	width: 150px; text-align: center; margin-right: 21px;
}
.crow-config-form-input3 {
	width: 80px; margin-right: 21px; margin-left: 37px;
}
.crow-config-form-items {
	margin-bottom: 10px;
}
#crow-config-form-add {
	
}
.crow-config-form-remove {
	cursor: pointer;
}
.crow-config-form-no-title {
	margin-top: 14px; margin-left: 100px; display: none;
}
#crow-form-error {
	color: red; margin-bottom: 10px; margin-left: 20px; display: none;
}
#crow-form-success {
	color: grey; margin-bottom: 10px; margin-left: 20px; display: none;
}
#crow-form-failure {
	color: red; margin-bottom: 10px; margin-left: 20px; display: none;
}
#crow-form-v-error {
	color: red; margin-bottom: 10px; margin-left: 20px; display: none;
}
#crow-form-v-unmatch {
	color: red; margin-bottom: 10px; margin-left: 20px; display: none;
}
.phone-editing .mod-layout_floor {
	overflow: visible;
}
.mod-focus {
	
}
.mod-focus .focus-w {
	position: relative;
}
.mod-focus .focus-w li {
	text-align: center; position: relative;
}
.mod-focus .focus-w li p {
	left: 0px; width: 100%; height: 2.5em; text-align: left; bottom: 0px; color: rgb(255, 255, 255); line-height: 2.5em; text-indent: 1em; overflow: hidden; font-size: 0.87em; white-space: nowrap; position: absolute; -ms-text-overflow: ellipsis; background-color: rgba(0, 0, 0, 0.6);
}
.mod-focus .focus-w a:hover {
	color: rgb(255, 255, 255);
}
.mod-focus .focus-ctr {
	text-align: center; right: 7px; bottom: 11px; line-height: 1; overflow: hidden; position: absolute; z-index: 1;
}
.mod-focus .focus-ctr span {
	margin: 0px 2px; border-radius: 4px; width: 8px; height: 8px; display: inline-block;
}
.mod-focus .swipe {
	overflow: hidden; position: relative;
}
.mod-focus .swipe-wrap {
	width: 100%; overflow: hidden; padding-bottom: 75%; font-size: 0px; position: relative;
}
.mod-focus .swipe-wrap > div {
	width: 100%; height: 100%; text-align: center; display: none; position: absolute;
}
.mod-focus .swipe-wrap > div.swipe-item {
	display: -ms-flexbox; justify-content: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; -moz-box-orient: horizontal; -moz-box-pack: center; -moz-box-align: center; box-orient: horizontal; box-pack: center; box-align: center;
}
.mod-focus .swipe-wrap > div:nth-child(1) {
	display: block; visibility: visible;
}
.mod-focus .swipe-wrap a {
	display: block;
}
.mod-focus .swipe-wrap p {
	padding: 0px 40% 0px 14px; width: 100%; height: 35px; text-align: left; bottom: 0px; color: rgb(255, 255, 255); line-height: 35px; overflow: hidden; font-size: 13px; white-space: nowrap; position: absolute; -ms-text-overflow: ellipsis; box-sizing: border-box; opacity: 0.9; background-color: rgba(0, 0, 0, 0.3);
}
.mod-nav {
	height: 45px; line-height: 45px; font-size: 13px;
}
.mod-nav .nav-container {
	left: 0px; width: 100%; position: relative;
}
.mod-nav ul {
	width: 100%; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; -moz-box-orient: horizontal; -moz-box-pack: center; -moz-box-align: center; box-orient: horizontal; box-pack: center; box-align: center;
}
.mod-nav li {
	text-align: center; -moz-box-flex: 1; box-flex: 1; -webkit-box-flex: 1; -o-box-flex: 1;
}
.module .mod-nav ul {
	float: left;
}
.mod-nav li a {
	width: 100%; overflow: hidden; vertical-align: middle; display: inline-block; white-space: nowrap; -ms-text-overflow: ellipsis; box-sizing: border-box;
}
.mod-nav .arr-right {
	top: 50%; color: black; font-family: "ËÎÌå"; font-size: 14px; font-weight: 900; margin-top: -20px; display: none; position: absolute; z-index: 99; cursor: pointer;
}
.mod-nav .arr-left {
	top: 50%; color: black; font-family: "ËÎÌå"; font-size: 14px; font-weight: 900; margin-top: -20px; display: none; position: absolute; z-index: 99; cursor: pointer;
}
.mod-nav .arr-left {
	left: 0px;
}
.mod-nav .arr-right {
	right: 0px;
}
.mod-nav.t1 {
	height: 48px; border-bottom-color: currentColor; border-bottom-width: 2px; border-bottom-style: solid;
}
.mod-nav-theme1 {
	height: 48px; border-bottom-color: currentColor; border-bottom-width: 2px; border-bottom-style: solid;
}
.mod-nav.t1 li {
	position: relative;
}
.mod-nav-theme1 li {
	position: relative;
}
.mod-nav.t1 a {
	height: 16px; line-height: 16px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid;
}
.mod-nav-theme1 a {
	height: 16px; line-height: 16px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid;
}
.mod-nav.t1 li:first-child a {
	border: currentColor; border-image: none;
}
.mod-nav-theme1 li:first-child a {
	border: currentColor; border-image: none;
}
.mod-nav.t2 {
	height: 48px; border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.mod-nav-theme2 {
	height: 48px; border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.mod-nav.t2 li {
	position: relative;
}
.mod-nav-theme2 li {
	position: relative;
}
.mod-nav.t2 a {
	height: 16px; line-height: 16px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid;
}
.mod-nav-theme2 a {
	height: 16px; line-height: 16px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid;
}
.mod-nav.t2 li:first-child a {
	border: currentColor; border-image: none;
}
.mod-nav-theme2 li:first-child a {
	border: currentColor; border-image: none;
}
.mod-nav.t3 {
	height: 48px;
}
.mod-nav-theme3 {
	height: 48px;
}
.mod-nav.t3 li {
	height: 48px;
}
.mod-nav-theme3 li {
	height: 48px;
}
.mod-nav-t3 a {
	height: 16px; color: rgb(255, 255, 255); line-height: 16px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid;
}
.mod-nav.t3 a:hover {
	height: 16px; color: rgb(255, 255, 255); line-height: 16px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid;
}
.mod-nav-theme3 a {
	height: 16px; color: rgb(255, 255, 255); line-height: 16px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid;
}
.mod-nav-theme3 a:hover {
	height: 16px; color: rgb(255, 255, 255); line-height: 16px; border-left-color: currentColor; border-left-width: 1px; border-left-style: solid;
}
.mod-nav.t3 li:first-child a {
	border: currentColor; border-image: none;
}
.mod-nav-theme3 li:first-child a {
	border: currentColor; border-image: none;
}
.mod-nav.t3 .arr-right {
	color: rgb(255, 255, 255);
}
.mod-nav.t3 .arr-left {
	color: rgb(255, 255, 255);
}
.mod-nav-theme3 .arr-right {
	color: rgb(255, 255, 255);
}
.mod-nav-theme3 .arr-left {
	color: rgb(255, 255, 255);
}
body.nav-on-bottom .baiduServiceBottomBar {
	bottom: 45px !important; z-index: 10 !important;
}
.mod-nav28-t1 {
	background: url("../images/nav-type1.png"); width: 304px; height: 49px;
}
.mod-nav28-t2 {
	background: url("../images/nav-type2.png"); width: 304px; height: 49px;
}
.mod-groublist-list .sort-handle {
	background: url("../images/ui-bg.png") no-repeat 0px -116px;
}
body #SOHUCS .section-floatbar-wap {
	display: none !important;
}
.native-nav-on .kz-post .phone-header {
	display: none;
}
.kz-post .phone-header {
	left: 0px; top: 0px; width: 100%; height: 44px; line-height: 44px; overflow: hidden; cursor: auto;
}
.kz-post .header-theme2 {
	text-align: left;
}
.kz-post .phone-header .site-logo {
	display: none;
}
.kz-post .phone-header .site-title {
	width: auto; margin-left: 14px; display: block !important; min-height: 44px;
}
.kz-post .phone-header .site-title .mod-text {
	line-height: 44px; font-size: 20px;
}
.kz-post .phone-header .login {
	display: none;
}
.kz-post .phone-header .home {
	width: auto; color: white; line-height: 44px; padding-right: 12px; font-size: 24px; display: block !important; min-height: 44px;
}
.phone-main-w .kz-post .phone-header .home .mod-picone {
	background: url("../images/home-post.png") no-repeat 0% 0% / 24px 24px; width: 24px; height: 24px; margin-top: 10px; margin-bottom: 10px;
}
.phone-main-w .kz-post .phone-header .home .mod-picone a {
	display: none;
}
.kz-post .phone-header .home .mod-picone a {
	background: url("../images/home-post.png") no-repeat 0% 0% / 24px 24px; width: 24px; height: 24px; margin-top: 10px; margin-bottom: 10px;
}
.kz-post .phone-header .home .mod-picone a img {
	display: none;
}
.new-button {
	margin: 5px; text-align: center;
}
.new-button-link {
	width: 100%; text-align: center; overflow: hidden; font-size: 14px; text-decoration: none; vertical-align: middle; display: inline-block; white-space: nowrap; -ms-text-overflow: ellipsis; box-sizing: border-box;
}
.new-button-link:hover {
	text-decoration: inherit;
}
.new-button-link > .new-icon {
	top: -1px; vertical-align: middle; position: relative;
}
.new-icon {
	margin: 0px 8px; width: 20px; height: 20px; font-size: 0px; display: inline-block; position: relative; box-sizing: border-box; -webkit-mask-size: 100% 100%;
}
.new-icon .new-icon-content {
	margin: auto; left: 0px; top: 0px; width: 100%; height: 100%; display: block; background-size: 100% 100%; -webkit-mask-size: 100% 100%; -webkit-mask-position: center;
}
.new-title {
	height: 30px; line-height: 30px; position: relative;
}
.new-title > a {
	left: 0px; top: 0px; width: 100%; height: 100%; color: inherit; text-decoration: none; display: block; position: absolute;
}
.new-title > a:hover {
	color: inherit; text-decoration: none;
}
.new-title-wrap > i {
	vertical-align: middle;
}
.new-title > span .new_title_content {
	
}
.new-nav {
	position: relative; -ms-overflow-x: auto; -ms-overflow-y: hidden;
}
.new-nav a {
	left: 0px; top: 0px; width: 100%; height: 100%; color: inherit; text-decoration: none; display: block; position: absolute; z-index: 11;
}
.new-nav a:hover {
	color: inherit; text-decoration: none;
}
.new-nav > ul > li > div {
	position: relative;
}
.new-nav > ul > li {
	position: relative;
}
.new-swiper-container {
	overflow: hidden;
}
.new-swiper-container .new-swiper-wrap {
	
}
.new-swiper-container .new-swiper-wrap a {
	background-position: center; left: 0px; top: 0px; width: 100%; height: 100%; color: inherit; position: absolute; background-size: cover;
}
.new-swiper-container .new-swiper-progress {
	
}
.new-swiper-container .new-swiper-wrap .new-swiper-item {
	position: relative;
}
